.ul-filter{
    height: auto;
    border-bottom: solid 2px #03b4f5;
    float: right;
    padding: 10px;
    background-color: #fff!important;
    list-style-type: none;
}
.ul-filter li{
     float: left;
     margin-right: 151px;
     position: relative;
}
ul.ul-price{
    border: 1px ridge;
    color: #777;
    position: absolute;
    width: 194px;
    z-index: 9999;
    background-color: #fff;
    text-align: left;
}
.ul-price li{width: 100%;}
.ul-price li i{
    margin-right: 5px;
    color: #03bf4d;
}

 /*css bai viet*/

 .timkiem{
     background-color: #fff;
     color: #777;
     min-height: 76px;
 }
 .searchBV{
     height: 50px;
     padding: 12px;
     width: 48%;
     float: left;
     border-radius: 8px;
 }
 @media(max-width:676px){
     .searchBV,.timkiem select{width: 100%;}
     .buttonsearch{display: none;}
 }
 .buttonsearch{
     height: 50px;
    min-width: 50px;
     border-radius: 3px;
    background: transparent;
    opacity: 0.5;
    transition: 0.5s all;
    float: left;
    margin-left: 15px;
 }
 .timkiem select{
    height: 50px;
    border-radius: 5px;
    color: #777;
    min-width: 128px;
    padding-left: 15px;
    margin-right: 15px;
 }