<div class="padding-top-20">
    <div class="timkiem padding-bottom-36 padding-10">
        <input type="text" class="searchBV border-bottom" placeholder="Nhập tên bài viết.." />
        <button disabled class="buttonsearch disabled"><span class="fa fa-filter"></span> Hoặc lọc theo</button>
        <select>
            <option>Loại 1</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
        </select>
          <select>
            <option>Thành phố</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
        </select>
          <select>
            <option>Huyện</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
             <option>Loại 1</option>
        </select>
    </div>
    <div class="padding-top-10">
        <div>
            <ul class="ul-filter">
                
                <li> <a hre>Mới nhất</a></li>
                <li> <a hre>Xem nhiều</a></li>
                <!--<li class="dropdown" (click)="showprice=!showprice"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lọc <span class="caret"></span></a>
                    <ul *ngIf="showprice" class="ul-price">
                        <li class="padding-10 border-bottom-dashed" (click)="showprice=!showprice"><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Loại</a></li>
                        <li class="padding-10 border-bottom-dashed" (click)="showprice=!showprice"><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Khu Vực</a></li>
                        <li class="padding-10 border-bottom-dashed" (click)="showprice=!showprice"><i class="glyphicon glyphicon-chevron-right"></i><a href="#">Quận Huyện </a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
     
    </div>
</div>